<!-- <img id="cript-texture" src="assets/img/cript-texture.jpg"> -->
<!-- <a-asset-item id="cript-model-obj" src="assets/models/p3-devon-character.obj"></a-asset-item>
<a-asset-item id="cript-model-mtl" src="assets/models/p3-devon-character.mtl"></a-asset-item>
<template id="cript-template">
    <a-entity class="cript">
        <a-box
            class="cript-body colorized-pain"
            heigth="0.3"
            width="0.3"
            depth="0.3"
            opacity="0"
            >
            <a-obj-model src="#cript-model-obj" mtl="#cript-model-mtl" ></a-obj-model>
            <a-gltf-model src="#sculpture" rotation="0 45 0" position="0 2 0"></a-gltf-model>
    </a-box>
    </a-entity>
</template> -->

<img id="cript-texture" src="assets/img/cript-texture.jpg">
<template id="cript-template">
    <a-entity class="cript" scale=".8 .8 .8">
    <!-- <a-sphere radius=".45" class="cript-head colorized-pain"
        scale="1 0.9 1"
        position="0 .4 0"
     <a-cylinder color="black" radius="0.1" height="0.1" rotation="90 0 0" position="-0.15 0 -0.45"></a-cylinder>
    <a-cylinder color="black" radius="0.1" height="0.1" rotation="90 0 0" position="0.15 0 -0.45"></a-cylinder>
    </a-sphere> -->


      <a-sphere src="#cript-texture" scale="0.5 1 0.5" radius="1" class="cript-head colorized-pain" opacity="1">
      </a-sphere>
      <a-cylinder color="black" radius="0.1" height="0.1" rotation="90 0 0" position="-0.1 0.4 -.5"></a-cylinder>
      <a-cylinder color="black" radius="0.1" height="0.1" rotation="90 0 0" position="0.1 0.4 -.5"></a-cylinder>
      <a-box color="black" height="0.1" width=".3" depth=".15" rotation="90 0 0" position="0 0.1 -.5"></a-cylinder>

      <!-- <a-cylinder src="#cript-texture" height="1.2" radius="0.3" class="cript-head colorized-pain">
        <a-cylinder color="black" radius="0.1" height="0.1" rotation="90 0 0" position="-0.1 0.4 -0.25"></a-cylinder>
        <a-cylinder color="black" radius="0.1" height="0.1" rotation="90 0 0" position="0.1 0.4 -0.25"></a-cylinder>
      </a-cylinder>
      <a-sphere color="red" radius="0.3" position="0 0.6 0"></a-sphere>
      <a-sphere src="#cript-texture" color="red" radius="0.3" position="0 -0.6 0"></a-sphere> -->
    </a-entity>
  </template>
