<!-- <a-assets>
    <img
        id="grid"
        src="https://img.gs/bbdkhfbzkk/stretch/https://i.imgur.com/25P1geh.png"
        crossorigin="anonymous"
    >
    <img
        id="sky"
        src="https://img.gs/bbdkhfbzkk/2048x2048,stretch/https://i.imgur.com/WqlqEkq.jpg"
        crossorigin="anonymous" />
</a-assets>

  <a-entity
  id="floor"
  position="0 0 0"
  geometry="primitive: plane; width: 100; height: 200;"
  rotation="-90 0 0"
  color="black"
  material="color:black; repeat: 150 200; opacity: .5; metalness:0.6; roughness: 0.4; sphericalEnvMap: #sky;"></a-entity>

<a-entity light="color: #ccccff; intensity: 1; type: ambient;" visible=""></a-entity>
<a-entity light="color: #ffaaff; intensity: 1.5" position="5 5 5"></a-entity>

<a-sky src="#sky" rotation="0 -90 0"></a-sky>
 -->

<!-- <a-entity id="particles" particle-system="preset: snow"></a-entity> -->






<a-entity environment="preset: forest; playArea: 50; seed: 5; dressingAmount: 50; fog:0; ground:flat;"></a-entity>


<!--
<a-entity environment="preset: arches; playArea: 100; seed: 1; dressingAmount: 8; fog:0; ground:flat;"></a-entity>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="19.21 1 6.4" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="-9.4 1 -59.6" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="63.5 1 -12" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="-67.6 1 60.89" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="-51.2 1 -63.63" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="47.26 1 45" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="-37.5 1 69" ></a-box>

<a-box class="hard-body" height="3" width="17" depth="17" color="blue" position="-21.0 1 -10.28" ></a-box>
<a-box class="hard-body" height="3" width="17" depth="17" color="blue" position="-26.6 1 -34.56" ></a-box>
<a-box class="hard-body" height="3" width="17" depth="17" color="blue" position="-29 1 -84.26" ></a-box>
<a-box class="hard-body" height="3" width="17" depth="17" color="blue" position="59.42 1 -69.60" ></a-box>
<a-box class="hard-body" height="3" width="6" depth="6" color="green" position="-70.5 1 34.34" ></a-box> -->
