<a-entity id="player"
    networked="template:#avatar-template;attachTemplateToLocal:false;"
    camera
    position="0 1.6 -50"
    spawn-in-circle="radius:3"
    touch-wasd-controls="acceleration:30"
    gun="bulletTemplate:#bullet-template"

>

    <a-box
        class="head"
        hard-body-sensitive = 'elementPosition: #player'
        visible="false"
        random-color
        height="0.4"
        depth="0.4"
        width="0.4"
    ></a-box>

    <a-entity
        cursor="fuse: true; fuseTimeout: 500"
        position="0 0 -1"
        geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
        material="color: black; shader: flat"
        id="cursor">
    </a-entity>

</a-entity>
