#player-panel-root {
    background: rgba(0,0,0,.1);
    padding: 2px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: .6em;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;

}

.avatar-block {
    display: block;
    width: 30px;
    height: 30px;
}

#player-panel-root .avatar{
    border-radius: 50%;
    border: 1px solid #444;
    width: 100%;
    height: 100%;
}

#player-panel-root .my-avatar {
    width: 40px;
    height: 40px;
}

.avatar.is-dead{
    opacity: .3;
}

.line-hp, .line-exp {
    text-align: center;
    border-radius: 3px;
    height: 9px;
    margin: 2px;
    width: 98%;
    border: 1px solid wheat;
}

.line-hp{
    background-color: tomato;
}
.line-exp{
    background-color: teal;
}

.line-hp-exp{
    width: 120px;
}


.respawn-timer{
    border-radius: 50%;
    background-color: rgba(0,0,0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
}
.my-timer{
    width: 40px;
    height: 40px;
}

.lvl-block{
    z-index: 1;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0097A7;
    position: absolute;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}


.lvl-me{
    left: 32px;
}


/* ENEMY */
.enemy-team-block{
    width: 100px;
    top: 4px;
    right: 4px;
    position: fixed;
}

.enemy-team-block .row{
    justify-content: flex-end;
    align-items: center;
}

.enemy-nik {
    text-align: right;
    margin-right: 8px;
}
.enemy-team-block .lvl-block{
left: auto;
right: 20;
}


.toolltip-info-block{
    width: 75px;
}

.tooltip-lvl{
    position: static;
    width: 20px;
    height: 20px;
}
